@import 'tailwindcss';
@import "tw-animate-css";
@import "@fontsource-variable/geist";

@custom-variant dark (&:is(.dark *));

:root {
	--background: oklch(1 0 0);
	--foreground: oklch(0.145 0 0);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.145 0 0);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.145 0 0);
	--primary: oklch(0.628 0.258 29.234);
	--primary-foreground: oklch(1 0 0);
	--secondary: oklch(0.955 0 0);
	--secondary-foreground: oklch(0.145 0 0);
	--muted: oklch(0.955 0 0);
	--muted-foreground: oklch(0.467 0 0);
	--accent: oklch(0.955 0 0);
	--accent-foreground: oklch(0.145 0 0);
	--destructive: oklch(0.577 0.245 27.325);
	--border: oklch(0.922 0 0);
	--input: oklch(0.922 0 0);
	--ring: oklch(0.628 0.258 29.234);
	--chart-1: oklch(0.628 0.258 29.234);
	--chart-2: oklch(0.55 0.22 29);
	--chart-3: oklch(0.48 0.19 29);
	--chart-4: oklch(0.42 0.16 29);
	--chart-5: oklch(0.36 0.13 29);
	--radius: 0.625rem;
	--sidebar: oklch(0.985 0 0);
	--sidebar-foreground: oklch(0.145 0 0);
	--sidebar-primary: oklch(0.628 0.258 29.234);
	--sidebar-primary-foreground: oklch(1 0 0);
	--sidebar-accent: oklch(0.955 0 0);
	--sidebar-accent-foreground: oklch(0.145 0 0);
	--sidebar-border: oklch(0.922 0 0);
	--sidebar-ring: oklch(0.628 0.258 29.234);
}

.dark {
	--background: oklch(0.145 0 0);
	--foreground: oklch(0.957 0 0);
	--card: oklch(0.219 0 0);
	--card-foreground: oklch(0.957 0 0);
	--popover: oklch(0.219 0 0);
	--popover-foreground: oklch(0.957 0 0);
	--primary: oklch(0.628 0.258 29.234);
	--primary-foreground: oklch(1 0 0);
	--secondary: oklch(0.243 0 0);
	--secondary-foreground: oklch(0.957 0 0);
	--muted: oklch(0.243 0 0);
	--muted-foreground: oklch(0.738 0 0);
	--accent: oklch(0.243 0 0);
	--accent-foreground: oklch(0.957 0 0);
	--destructive: oklch(0.704 0.191 22.216);
	--border: oklch(1 0 0 / 10%);
	--input: oklch(1 0 0 / 15%);
	--ring: oklch(0.628 0.258 29.234);
	--chart-1: oklch(0.628 0.258 29.234);
	--chart-2: oklch(0.55 0.22 29);
	--chart-3: oklch(0.48 0.19 29);
	--chart-4: oklch(0.42 0.16 29);
	--chart-5: oklch(0.36 0.13 29);
	--sidebar: oklch(0.178 0 0);
	--sidebar-foreground: oklch(0.957 0 0);
	--sidebar-primary: oklch(0.628 0.258 29.234);
	--sidebar-primary-foreground: oklch(1 0 0);
	--sidebar-accent: oklch(0.243 0 0);
	--sidebar-accent-foreground: oklch(0.957 0 0);
	--sidebar-border: oklch(1 0 0 / 10%);
	--sidebar-ring: oklch(0.628 0.258 29.234);
}
